<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>Grocery List</title>

</head>

<body>

    <div id="app" @keyup.enter="addToList(groceryItem)">

        <input placeholder="Submit a grocery item" type="text" v-model="groceryItem"></input>
        <button v-on:click="addToList(groceryItem)">Add</button>
        <ul class='list-container'>
            <li class="list-item" v-for="item in list" :key="item" v-on:click="removeItem(item)">
                {{ item }}
            </li>
        </ul>

    </div>



    </div>
</body>
<script>
    var app = new Vue({
        el: " #app",
        data: {
            groceryItem: "",
            list: [],
            flashCardMode: false
        },
        methods: {
            addToList(item) {
                if (!item) { return; }
                this.list.push(item)
                this.groceryItem = ""
            }, removeItem(item) {
                const newList = this.list.filter(i => i !== item)
                this.list = newList
            }
        }
    }) 
</script>

</html>